main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10%;

    min-height: 100vh;
    padding: 5%;
    width: 100%;
}

main .data-container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    width: 45%;
    height: auto;
    margin-bottom: 5%;

    box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.4);

    border-radius: 15px;
    backdrop-filter: blur(15px) brightness(135%);

}

#export {
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    left: 15px;
    top: 15px;

    color: black;
    transition: 0.25s;

    background: none;
    border: solid rgba(0, 0, 0, 0.5) 2px;
    border-radius: 50vh;
    padding: 15px;
    font-size: 17px;
}

#submit img {
    width: 24px;
}

#export:hover {
    transform: scale(1.25);
}

.infos .value-info .info-title {
    border-top: solid black 1px;
}

.graph-container {
    padding: 1vw;
    width: 100%;
    height: 100%;
}

.dates-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 25px;

    margin: 15px;
}

.dates {
    outline: none;

    padding: 1em;
    font-size: 17px;

    background: none;
    backdrop-filter: blur(15px) brightness(135%);
    border: solid 1px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
}

#submit {
    cursor: pointer;

    font-size: 17px;
    padding: 10px;
    min-width: 150px;
    background: none;
    
    transition: 0.15s;
    border-radius: 15px;
    border: solid 1px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px) brightness(135%);

}
#submit:hover {
    backdrop-filter: blur(15px) brightness(115%);
}

@media screen and (max-width: 800px) {
    main {
        padding: 5% 0;
    }

    main .data-container {
        flex-flow: column nowrap;
        border-radius: 0;
        height: auto;
        width: 100%;
    }

    #export {
        padding: 5px;
        font-size: 15px;
    }

    .graph-container {
        width: 100%;
    }

    .graph-container canvas {
        width: 100% !important;
        height: 35vh !important;
        height: auto;
    }
}