h2 {
    width: 100%;
    text-align: center;
}

.appareils-container,
.mesures-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.carte {
    margin: 25px;
    padding: 15px;
    min-height: 25vh;
    border: solid 1px white;
    border-radius: 25px;
    backdrop-filter: blur(15px) brightness(135%);
}