nav {
    position: sticky;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    z-index: 9999;
    
    box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.4);

    border-bottom: solid rgba(0, 0, 0, 0.5) 1px;
    backdrop-filter: blur(15px) brightness(135%);
}

nav a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 17px;
}

nav a:hover {
    text-decoration: underline 1px black;
}

.icon {
    display: none;
    position: fixed;

    z-index: 9999;
    top: 5px;
    right: 5px;
}

@media screen and (max-width: 800px) {
    nav {
        display: none;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 25px;

        height: 100vh;
        width: 100%;
    }
    .icon {
        display: unset;
    }
}